/cpp/
/data_safe/
/g2oo/
/literature/
/scratch/
/xfer/
/images_a/
/plots_a/
/data/**/*.m
/data_toy/**/*.m

/doc/maple/**/*.mpl
/doc/classes/*.html
/doc/classes.html
/doc/defs.html
/doc/entries.html
/doc/images.html

/images/*.jpg
/images/*.png

/latex/**/*.aux
/latex/**/*.bbl
/latex/**/*.blg
/latex/**/*.log
/latex/**/*.out
/latex/**/*.log
/latex/**/*.pdf
/latex/**/*.toc
/latex/**/*.nav
/latex/**/*.snm

/latex/try.tex
/latex/try_talk.tex

/latex/extra/
/latex/scratch/
/latex/tikz_includes/
/latex/tikz_includes_a/

/maple/**/scratch/

/maple/embedded/roothalf/z.mpl

/maple_output/*.aux
/maple_output/*.log
/maple_output/*.out
/maple_output/*.pdf
/maple_output/maple_output.tex
/maple_output/maple_output.aux
/maple_output/maple_output.log
/maple_output/maple_output.out
/maple_output/maple_output.pdf

/plots/*.m
/plots/**/*.jpg

/worksheets/


/tools/thin_release_files.txt
/tools/all_files.txt
/tools/fat_release_files.txt
/tools/lines.txt
/tools/maple_files.txt
/tools/check_files.txt
