cpp/
data_safe/
g2oo/
literature/
scratch/
xfer/

data/**/*.m
data_toy/**/*.m

doc/maple/**/*.mpl
doc/defs.html
doc/entries.html
doc/genus2.html
doc/packages.html

images/*.jpg
images/*.png

latex/**/*.aux
latex/**/*.bbl
latex/**/*.blg
latex/**/*.log
latex/**/*.out
latex/**/*.log
latex/**/*.pdf
latex/**/*.toc
latex/**/*.nav
latex/**/*.snm
latex/extra

maple_output/*.aux
maple_output/*.log
maple_output/*.out
maple_output/*.pdf
maple_output/*.maple_output.tex

plots/*.m
plots/**/*.jpg

worksheets/extra
worksheets/scratch
worksheets/safe
worksheets/small
worksheets/*.mw




/latex/tikz_includes/H_to_P_graph.tex
/latex/tikz_includes/F1.tex
/latex/tikz_includes/a_H_dependence.tex
/latex/tikz_includes/Em_cell.tex
/latex/tikz_includes/Ep.tex
/latex/tikz_includes/radius_plot.tex
/latex/tikz_includes/HX.tex
/latex/tikz_includes/P.tex
/latex/tikz_includes/P_p.tex
/latex/tikz_includes/P_q.tex
/latex/tikz_includes
/maple_output/maple_output.tex
/maple_output/maple_output.aux
/maple_output/maple_output.log
/maple_output/maple_output.out
/maple_output/maple_output.pdf
