cpp/
data_safe/
g2oo/
literature/
scratch/
xfer/

data/**/*.m
data_toy/**/*.m

doc/maple/**/*.mpl
doc/defs.html
doc/entries.html
doc/genus2.html
doc/packages.html

images/*.jpg
images/*.png

latex/**/*.aux
latex/**/*.bbl
latex/**/*.blg
latex/**/*.log
latex/**/*.out
latex/**/*.log
latex/**/*.pdf
latex/**/*.toc
latex/**/*.nav
latex/**/*.snm
latex/extra

maple_output/*.aux
maple_output/*.log
maple_output/*.out
maple_output/*.pdf
maple_output/*.maple_output.tex

plots/*.m
plots/**/*.jpg

worksheets/extra
worksheets/scratch




